section {
    position: relative;
    margin: 0;
}

.onvan {
    font-size: 35px;
    color: #2d2c2c;
    text-transform: uppercase;
    font-weight: 350;
    margin-bottom: 15px;
    text-align: right;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#img_bg {
    width: 100%;
    position: absolute;
    object-fit: cover;
    height: inherit;
    opacity: 0.7;
}

#mojodi {
    background-color: #2397ba;
    border-color: #0f110f;
    height: 45px;
    width: 110px;
    color: #0f110f;
}

.mytable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
    table-layout: fixed;
}

.tbl-header {
    background-color: rgba(18, 14, 13, 0.87);
    position: relative;
    width: 600px;
}

.tbl-content {
    height: 300px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgb(198, 197, 197);
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    width: 600px;
}

th {
    padding: 20px 15px;
    text-align: right;
    font-weight: 500;
    font-size: 24px;
    color: #9dd8eb;
    text-transform: uppercase;
}

td {
    padding: 15px;
    text-align: right;
    vertical-align: middle;
    font-weight: 400;
    font-size: 20px;
    color: #f9c076;
    border-bottom: solid 1px rgb(198, 197, 197);
    border-right: solid 1px rgb(198, 197, 197);

}

section {
    margin: 50px;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}