<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - مدیریت</title>
    <meta charset="utf-8"/>

    <link rel="stylesheet" href="../../static/management/base.css"/>
    {% block page_css_link %}{% endblock %}
    {% block page_js_link %}{% endblock %}
</head>
<body>
<img
        id="img_bg"
        src="../../static/management/management-background-.jpg"
        alt=""
/>
<nav>
    <a class="logo" href="{{ url_for('store.index') }}">بازگشت به فروشگاه</a>
    <label aria-hidden="true" for="toggle"><i class="fas fa-bars"></i></label>
    <input aria-hidden="true" name="toggle" id="toggle" type="checkbox">
    <ul>
        <li><a class="link" href="{{ url_for('Admin.orders') }}">سفارش ها</a></li>
        <li><a class="link" href="{{ url_for('Admin.quantities') }}">موجودی و قیمت ها </a></li>
        <li><a class="link" href="{{ url_for('Admin.warehouses') }}">انبار ها </a></li>
        <li><a class="link" href="{{ url_for('Admin.products') }}">کالا ها</a></li>
    </ul>
</nav>

{% block content %}{% endblock %}

</body>

</html>
