<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - مدیریت</title>
    <meta charset="utf-8" />
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
        crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../static/management/base.css" />
    {% block page_css_link %}{% endblock %}
    {% block page_js_link %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img
            id="nav-back"
            src="../../static/management/management-background-.jpg"
            alt=""
        />
        <div id="nav-item">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="50"
                height="50"
                fill="currentColor"
                class="bi bi-house-door-fill"
                id="mysvg"
                viewBox="0 0 16 16"
            >
                <path
                    d="M6.5 10.995V14.5a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"
                />
                <path
                    fill-rule="evenodd"
                    d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"
                />
            </svg>

            <div id="navbarTogglerDemo02" class="btns">
                {% block orders_btn %}
                    <button
                        type="button"
                        class="btn btn-outline-secondary bg-secondary text-white"
                    >
                        سفارش ها
                    </button>
                {% endblock %}
                {% block IP_btn %}
                    <button
                        type="button"
                        class="btn btn-outline-secondary bg-secondary text-white"
                    >
                        موجودی و قیمت ها
                    </button>
                {% endblock %}
                {% block store_btn %}
                <button
                    type="button"
                    class="btn btn-outline-secondary bg-secondary text-white"
                >
                    انبارها
                </button>
                {% endblock %}
                {% block products_btn %}
                <button
                    type="button"
                    class="btn btn-outline-secondary bg-secondary text-white"
                >
                    کالاها
                </button>
                {% endblock %}
            </div>
            <div class="nav_h text-light bg-secondary">
                پنل مدیریت فروشگاه
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

</body>
</html>