{% extends './management/base.html' %}
<title>{% block title %} موجودی و قیمت ها{% endblock %}</title>

{% block page_css_link %}
    <link rel="stylesheet" href="../../static/management/inventory&price.css">
{% endblock %}

{% block content %}
    <section>
        <!--for demo wrap-->
        <div class="onvan">
            <h1>مدیریت موجودی ها و قیمت ها</h1>
            <button type="button" id="mojodi">افزودن موجودی</button>

        </div>
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                <tr>
                    <th></th>
                    <th>موجودی</th>
                    <th>قیمت</th>
                    <th>کالا</th>
                    <th>انبار</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}