{% extends './management/base.html' %}
<title>{% block title %}سفارش ها{% endblock %}</title>

{% block page_css_link %}
    <link rel="stylesheet" href="../../static/management/orders.css">
{% endblock %}

{% block content %}
    <section>
  <!--for demo wrap-->
  <div class="onvan"><h1>مدیریت سفارش ها</h1></div>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th></th>
          <th>زمان ثبت سفارش</th>
          <th>مجموع مبلغ</th>
          <th>نام کاربر</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        {% if my_list %}
        {% for item in my_list %}
        <tr>
          <td>سلام</td>
          <td></td>
          <td></td>
          <td>{{ loop.index }}</td>
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
</section>




{% endblock %}
