<!DOCTYPE html>
<head>
    <title>{% block title %}{% endblock %} - shop</title>
        <link rel="stylesheet" href="../static/base.css">

    {% block page_css_link %}{% endblock %}
</head>
<body>
    <header>
        <div class="header_items">
            <div class="header_link">
                <div class="cart btn">
                    <a class="cart_link" href="#">سبد خرید</a>
                    <img
                            class="cart_img"
                            src="../static/cart.png"
                            alt="cart"
                    />
                </div>
                <div>
                    <a
                        class="inner_link management"
                        href="{{ url_for('product') }}"
                        >مدیریت</a
                    >
                </div>
            </div>
            <div class="banner">
                <a class="inner_link shop_name" href="url_for('main_page')"
                    >فروشگاه مکتب</a
                >
                <a class="icon_link" href="">
                <img class="icon" src="../static/logo.png" alt="icon" />
              </a>
            </div>
        </div>
    </header>
    <nav>
            {% if categories_key %}
                <ul class="nav_items">
                    <li>{{ categories_key[0] }}</li>
                    <li>{{ categories_key[1] }}</li>
                    <li>{{ categories_key[2] }}</li>
                    <li>{{ categories_key[3] }}</li>
                    <li>{{ categories_key[4] }}</li>
                    <li>{{ categories_key[5] }}</li>
                </ul>
        {% endif %}
    </nav>
    <div class="main">
    <div class="container" id="container">{% block content %}{% endblock %}</div>
    <aside>{% block sidebar %}{% endblock %}</aside>
    </div>
    <footer></footer>
{% block page_script_link %}{% endblock %}
</body>
