<!DOCTYPE html>
<head>
    <title>{% block title %}{% endblock %} - shop</title>
    {% block page_css_link %}{% endblock %}
</head>
<body>
    <nav>
        <div class="nav_items">
            <div class="header_link">
                <div class="cart btn">
                    <a class="inner_link" href="#">سبد خرید</a>
                    <img
                            class="cart_img"
                            src="../static/cart.png"
                            alt="cart"
                    />
                </div>
                <div>
                    <a
                        class="inner_link management"
                        href="{{ url_for('product') }}"
                        >مدیریت</a
                    >
                </div>
            </div>
            <div class="banner">
                <a class="inner_link shop_name" href="url_for('main_page')"
                    >فروشگاه مکتب</a
                >
                <a class="icon_link" href="">
                <img class="icon" src="../static/logo.png" alt="icon" />
              </a>
            </div>
        </div>
    </nav>
    <div class="container">{% block content %}{% endblock %}</div>
    <aside>{% block sidebar %}{% endblock %}</aside>
    <footer></footer>
</body>
