{% block title %}super market{% endblock %}

{% block page_css_link %}
    <link rel="stylesheet" href="../static/category_page.css">
{% endblock %}

{% block content %}
	<h1> </h1>
{% for pr in item %}


        

            <div id='sample_box' class="pr_box">
                <div class="info">
                    <label class="name">{{ pr["name"] }}</label>
                    <label class="price">{{ pr["price"][0]['price'] }}</label>
                    <button>
                        <img class="cart" src="../static/picture/cart.png" alt="cart">
                    </button>
                </div>
                <img class="pr" src="../static/database/pics/{{ '%d' %pr['pic_id'] }}.jpg" alt=""/>
            </div>




{% endfor %}
{% endblock %}


{% block sidebar %}
    <ul>
        {% if categories_key and categories %}
            {% for item in categories_key %}
                <ul>
                <li>
                    {{ item['key'] }}
                    {% for a in categories[item['key']] %}
                    <ul>
                        <li>
                            {{ a }}
                        </li>
                    </ul>
                    {% endfor %}
                </li>
                </ul>
                <br>
            {% endfor %}
        {% endif %}
    </ul>
{% endblock %}
