{% extends './base.html' %}

{% block title %}super market{% endblock %}

{% block page_css_link %}
    <link rel="stylesheet" href="../static/main_page.css">
{% endblock %}

{% block content %}

{% for cat in categories_key %}
	<h1> {{ cat }} </h1>



	{% for pr in goods_in_cat[cat] %}

		{% if loop.index <= 6 %}

		<div id='sample_box' class="pr_box" onclick="myFunction({{ pr }})">
		<div class="info">
		<label class="name">{{ pr["name"] }}</label>
		<label class="price">{{ pr["price"][0]["price"] }}</label>

		<button>
		<img class="cart" src="../static/picture/cart.png" alt="cart">
		</button>
		</div>
		<img class="pr" src="../static/database/pics/{{ '%d' %pr['pic_id'] }}.jpg" alt=""/>
		</div>
		{% endif %}
	{% endfor %}


{% endfor %}



{% endblock %}




{% block sidebar %}
    <ul>

			{% for cat in categories_key %}
                <ul>
                <li>
                    {{ cat }}
                    {% for sub in categories[cat] %}
                    <ul>
                        <li>
                            {{ sub }}
                        </li>
                    </ul>
                    {% endfor %}
                </li>
                </ul>
                <br>
            {% endfor %}

    </ul>
{% endblock %}
{% block page_script_link %}<script src="../static/main_page.js"></script>{% endblock %}


